In [3]:
import os
import pandas as pd

**Loading the data**

In [2]:
# Get the current working directory & Construct the relative path to train.csv
current_dir = os.getcwd() 
relative_path = os.path.join('..', 'data', 'kaggle_dataset','kaggle_dataset.csv')

In [4]:
kaggle_dataset = pd.read_csv(os.path.join(current_dir, relative_path))

**Exploring the data**

In [5]:
print(kaggle_dataset.shape)

(118643, 3)

In [6]:
print(kaggle_dataset.columns)

Index(['owner', 'issue_title', 'description'], dtype='object')

In [7]:
kaggle_dataset

,owner,issue_title,description
0,amit@chromium.org,"Scrolling with some scroll mice (touchpad, etc...",Product Version : <see about:version>URLs...
1,jon@chromium.org,Proxy causes some or all network requests to fail,Product Version : 0.2.149.27 (1583)URLs (...
2,pfeldman@chromium.org,"Web inspector button ""dock to main window"" doe...",Product Version : chrome beta 1URLs (if a...
3,jon@chromium.org,Habari admin interface is not rendered correctly,Product Version : 0.2.149.27 (1583)URLs (...
4,pkasting@chromium.org,Maximize on second larger monitor not working,Product Version : 0.2.149.27URLs (if appl...
...,...,...,...
118638,navabi@chromium.org,Launch clank_qa recipes to the waterfall,We had git trouble
118639,bulach@chromium.org,data race in ThreadWatcherListTest,r255322 is culprithttp://build.chromium.org/p/...
118640,pfeldman@chromium.org,window.console object should not be configurable,Recently sites have begun replacing window.con...
118641,ernstm@chromium.org,Windows GPU bots failing on multiple tests,All Windows GPU bots are failing a variety of ...
118642,apavlov@chromium.org,CSS auto-complete suggestion list is incomplet...,UserAgent: Mozilla/5.0 (X11; Linux x86_64) App...

In [8]:
print(kaggle_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118643 entries, 0 to 118642
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   owner        118643 non-null  object
 1   issue_title  118642 non-null  object
 2   description  118642 non-null  object
dtypes: object(3)
memory usage: 2.7+ MB
None

**Delete duplicate data [if exist]**

In [9]:
kaggle_dataset.duplicated().any()

True

In [10]:
kaggle_dataset = kaggle_dataset.drop_duplicates()

In [11]:
kaggle_dataset.duplicated().any()

False

In [12]:
print(kaggle_dataset.shape)

(118587, 3)

**generates descriptive statistics of the data**

In [13]:
# generates descriptive statistics of the data
# include="O": This parameter is specifying that you want to include columns with object data type 
kaggle_dataset.describe(include = "O")

,owner,issue_title,description
count,118587,118586,118586
unique,2564,118012,116371
top,estade@chromium.org,Skia image rebaseline,See the link to graphs below.
freq,1249,38,1398

In [14]:
# compute the number of unique values for each column in the DataFrame training_data.
kaggle_dataset.nunique()

owner            2564
issue_title    118012
description    116371
dtype: int64

In [ ]:
'''
number of unique titles is less than number of rows
so there are duplicate titles
remove rows of duplicate titles
'''

**Remove duplicate titles**

In [15]:
kaggle_dataset = kaggle_dataset.drop_duplicates(subset='issue_title')

In [16]:
print(kaggle_dataset.shape)

(118013, 3)

In [18]:
# compute the number of unique values for each column in the DataFrame training_data.
kaggle_dataset.nunique()

owner            2563
issue_title    118012
description    115812
dtype: int64

**generates descriptive statistics of the data**

In [17]:
# generates descriptive statistics of the data
# include="O": This parameter is specifying that you want to include columns with object data type 
kaggle_dataset.describe(include = "O")

,owner,issue_title,description
count,118013,118012,118012
unique,2563,118012,115812
top,estade@chromium.org,"Scrolling with some scroll mice (touchpad, etc...",See the link to graphs below.
freq,1243,1,1396

**Show the number of nulls in each column**

In [19]:
# Print the number of null values in each column in the training data
print(kaggle_dataset.isnull().sum())

owner          0
issue_title    1
description    1
dtype: int64

**Remove rows with null values**

In [20]:
# remove rows with missing values from the dataset
kaggle_dataset.dropna(inplace=True)
print(kaggle_dataset.isnull().sum())

owner          0
issue_title    0
description    0
dtype: int64

**Save cleaned data**

In [21]:
relative_path = os.path.join('..', 'data','kaggle_dataset' ,'cleaned_kaggle_dataset.csv')
kaggle_dataset.to_csv(os.path.join(current_dir, relative_path), index=False) # exclude the DataFrame index from being saved to the CSV file.